<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="acekqConnectionString"
      connectionString="Data Source=38ea216b--b3bb-40e7-a9b0a52d00c51cee.sqlserver.sequelizer.com;Initial Catalog=db38ea216bb3bb40e7a9b0a52d00c51cee;Persist Security Info=True;User ID=jhfgefdhzeeohdca;Password=iWpyTRsgP8HTyEp66gD8Wt4B2DwcoRZ4GbFHvTRN7fHmLx3y3mJkKfnX2VEoupZ6;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient"/>
   
  </connectionStrings>
    <system.web>
      <compilation targetFramework="4.5" debug="true"/>
      <httpRuntime targetFramework="4.5"/>
    </system.web>
   
</configuration>
