<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="acekqConnectionString" connectionString="Data Source=c9ddedcf-4582-4aa0-b614-a4710054b560.sqlserver.sequelizer.com;Initial Catalog=dbc9ddedcf45824aa0b614a4710054b560;Persist Security Info=True;User ID=orgyymfumufqvoar;Password=LFBn4RFLNSNZ72MDFFp7UcR5r5eiL8sKGjjTQamYhLsnWtXLjRgtsd4HXF47LxaP;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
   
  </connectionStrings>
    <system.web>
      <compilation targetFramework="4.5.1" debug="true" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>
   
</configuration>